.itemsContainer {
    width: 100%; /* Equal width for each element */
    height: 30px; /* Adjust as needed */
   
    border-radius: 5px; /* Rounded corners */
    font-size: small;
    flex:1;
    
  }
  


