.itemsContainer {
  display: flex;
  flex-direction: column; /* Stack rows vertically */
  gap: 10px; /* Space between rows */
  height: 100%; /* Full height for flexibility */
  background-color: #f0f0f0;
}
.row {
  flex: 1; /* Equal height rows */
  display: flex;
  justify-content: space-between; /* Equal spacing for elements */
  align-items: center; /* Align elements vertically */
  
}
