.app-container {
    display: flex;
    height: 100vh; /* Full viewport height */
    padding:30px;
    background-color: rgb(238, 226, 238); /* Light grey for differentiation */
  }
  
  .component1 {
    flex: 1; /* Adjusted proportion */
    max-width: 20%; /* Ensures it's 20% */
     /* Light grey for differentiation */
  }
  
  .component2 {
    flex: 4; /* Adjusted proportion */
    max-width: 80%; /* Ensures it's 80% */
   
  }
  