.item-box {
    width: 100%;
    height: 10%;
    margin: 5px 5px 0 1%;
    background-color: white;
    box-sizing: border-box;
  }
  
  .bar-chart-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .bar-chart {
    width: 30%;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  .chart {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
    padding: 5px;
  }
  
  .bar {
    width: 20%;
    background-color: #4caf50;
    position: relative;
  }
  
  .bar-label {
    position: absolute;
    bottom: -20px;
    width: 100%;
    text-align: center;
    font-size: 12px;
  }
  
  .y-axis {
    position: absolute;
    bottom: 0;
    left: 100%;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  